:root {
  /* Fonts */
  --maine-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Text colors */
  --maine-txt-cl: #212121;
  --gray-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --gray-txt-cl-60: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --accent-bgd-cl: #2196f3;
  --black-bgd-cl: #2f303a;
  --gray-bgd-cl: #f5f4fa;
  --gray-bgd-btn-cl: #f5f4fa;
  --gray-bgd-icon-cl: #afb1b8;
  --gray-bgd-icon-footer-cl: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(255, 255, 255, 0.1);

  /* Others */

  --grey-border-cl: #ececec;
  --light-border-cl: #eeeeee;
  --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

/* Base styles */

.page {
  font-family: var(--maine-font);
  color: var(--maine-txt-cl);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */

.header {
  background-color: #ffffff;

  border-bottom: 1px solid var(--grey-border-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  margin-right: 93px;

  color: #000000;
  text-decoration: none;
}

.accent {
  color: var(--accent-txt-cl);
}

.header-nav-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  cursor: pointer;
  padding-bottom: 32px;
  padding-top: 32px;

  transition: color var(--animation-hover);
}

.active {
  display: block;
  position: relative;
  color: var(--accent-txt-cl);
}

.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--accent-bgd-cl);
  border-radius: 2px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-txt-cl);
}

.header-list-contacts {
  color: var(--gray-txt-cl);
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}

.icon-nav {
  margin-right: 10px;
  fill: var(--gray-txt-cl);
  transition: fill var(--animation-hover);
}

.header-nav-link:hover .icon-nav,
.header-nav-link:focus .icon-nav {
  fill: var(--accent-bgd-cl);
}

/* Шапка */
.section-tittle {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hero/overlay.png), url(../images/hero/hero-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--black-bgd-cl);
  padding: 200px 0 200px;
}

.hero-container {
  align-items: center;
}

.maine-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.maine-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px 32px;

  background-color: var(--accent-bgd-cl);
  color: var(--light-txt-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
}
.maine-btn:hover,
.maine-btn:focus {
  cursor: pointer;
}

/* Особливості */

.peculiarity-container {
  display: flex;
  align-items: center;
}

.list-peculiarity {
  display: flex;
  gap: 30px;
}

.group-peculiarity {
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: var(--gray-bgd-cl);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle-peculiarity {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.desc-peculiarity {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
}

/* Чим ми займаємось */

.section-benefits {
  padding-top: 0;
}

.title-benefits {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.list-benefits {
  display: flex;
  gap: 30px;
}

.thumb-benefits {
  position: relative;
}

.thumb-benif-group {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb-benif-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);

  position: relative;
}

/* Наша команда */

.section-team {
  background-color: var(--gray-bgd-cl);
}

.title-team {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.list-team {
  display: flex;
  gap: 30px;
}

.item-team {
  min-width: 270px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* .img-team {
  margin-bottom: 30px;
} */

.subtitle-team {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.desc-team {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
  margin-bottom: 16px;
}

/* socials */

.team-wrap {
  padding-bottom: 30px;
  padding-top: 30px;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--light-txt-cl);

  transition: background-color var(--animation-hover);
}

.social-icon {
  fill: var(--gray-bgd-icon-cl);

  transition: fill var(--animation-hover);
}

.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  fill: var(--light-txt-cl);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-bgd-cl);
}

/* Постійні клієнти */
.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--gray-bgd-icon-cl);
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: border 250ms var(--animation-hover);
}
.clients-icon {
  fill: var(--gray-bgd-icon-cl);
  transition: fill var(--animation-hover);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-txt-cl);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-txt-cl);
}

/* Портфоліо */

.list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.list-btn .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: var(--gray-bgd-btn-cl);
  color: var(--maine-txt-cl);

  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  transition: color var(--animation-hover), background-color var(--animation-hover),
    box-shadow var(--animation-hover);
}

.list-btn .btn:focus,
.list-btn .btn:hover {
  color: var(--light-txt-cl);
  background-color: var(--accent-bgd-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards {
  display: flex;
}
.cards-list-portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cards-item-portfolio {
  background: #ffffff;
  /* width: 370px; */
}

.cards-link-portfolio {
  display: block;

  transition: box-shadow var(--animation-hover);
}

.cards-link-portfolio:hover,
.cards-link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.group-bottom-cards {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--light-border-cl);
  border-top: transparent;
}

.subtitle-portfolio {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--maine-txt-cl);

  margin-bottom: 4px;
}

.desc-portfolio {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
}

.thumb-cards {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  padding: 63px 24px;

  transform: translateY(101%);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--animation-hover);
}

.overlay-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--light-txt-cl);
}

.cards-link-portfolio:hover .overlay {
  transform: translateY(0);
}

/* Footer */

.footer {
  background-color: var(--black-bgd-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  color: var(--light-txt-cl);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.contacts-adress {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.contacts-adress .link {
  transition: color var(--animation-hover);
}

.contacts-adress .link:hover,
.contacts-adress .link:focus {
  color: var(--accent-txt-cl);
}

.list-item-contacts:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  color: var(--light-txt-cl);
  display: block;
}

.footer-contacts {
  color: var(--gray-txt-cl-60);
}

/* Socials */

.social-links {
  /* margin-top: 72px; */
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}
.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--animation-hover);
}

.footer-socials-icon {
  fill: var(--light-txt-cl);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-bgd-cl);
}

/* Modal window  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-200%, -100%) scale(0.7) rotate(-360deg);
  transition: visibility var(--animation-modal), transform var(--animation-modal);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background-color: var(--light-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform var(--animation-modal);

  /* animation: anim-modal 1500ms linear; */
}

/* @keyframes anim-modal {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
} */

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}
